<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
  
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-microphone-alt"></i>
          </div>
          <div class="sidebar-brand-text mx-3">VOID ADMIN</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>
  
        <!-- Nav Registration -->
        <li class="nav-item">
          <a class="nav-link" href="/register">
            <i class="fas fa-registered"></i>
            <span>Register</span></a>
        </li>
  
        <!-- Train Model -->
        <li class="nav-item">
          <a class="nav-link" href="/train">
            <i class="fab fa-leanpub"></i>
            <span>Train Model</span></a>
        </li>
  
        <!-- Exceptional case -->
        <li class="nav-item">
          <a class="nav-link" href="/exception">
            <i class="fas fa-exclamation-triangle"></i>
            <span>Provide Exception</span></a>
        </li>
  
  
        <!-- User Profile -->
        <li class="nav-item">
          <a class="nav-link" href="/profile">
            <i class="fas fa-fw fa-user"></i>
            <span>User Profile</span></a>
        </li>
  
        <!-- Overall Attendance -->
        <li class="nav-item">
          <a class="nav-link" href="/attendance">
            <i class="fas fa-fw fa-table"></i>
            <span>Overall Attendance</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
  
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ovesh Patel</span>
                  <img class="img-profile rounded-circle" src="img/ovi.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="/logout">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Exceptional Cases</h1>
            </div>
            <p class="mb-4">Providing access to all the employs with throat infection.</p>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Proof</th>
                        <th>Decision</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Proof</th>
                        <th>Decision</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    <% for(var i=0; i < log.length; i++){ %>
                      <tr>
                        <td><%= log[i].username %></td>
                        <td><%= log[i].name %></td>
                        <td><%= log[i].subject %></td>
                        <td><%= log[i].message %></td>
                        <td><a href="../uploads/<%= log[i].proof %>"><%= log[i].proof %></a></td>
                        <td>
                          <button type="button" id="<%= log[i].username %>"  subject="<%= log[i].subject %>" onclick="approve(this.id)" class="btn btn-success"><i class="fas fa-check"></i></button>
                          <button type="button" id="<%= log[i].username %>" subject="<%= log[i].subject %>" onclick="del(this.id)"  class="btn btn-danger"><i class="fas fa-times"></i></button>
                        </td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Insane Coders</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
      function approve(id) {
        var username = id;
        var subject = document.getElementById(username).getAttribute('subject');
        var data = {};
        data.username = username;
        data.subject = subject;
        console.log(data);
        var days = prompt('Please enter number of days');
        var t=0;
          if( days === ''){
            alert('Please enter the number of days');
            return;
          } else{
            data.days = days;
          }
        if(days === null){
          return;
        }
       $.ajax({
              url: '/exception',
              type: 'PUT',
              contentType: 'application/json',
              data: JSON.stringify(data),                   
              success: function(data) {
                  location.reload(true);
                  // console.log(JSON.stringify(data));
               }
         });
      }

    function del(id) {
        var username = id;
        var subject = document.getElementById(username).getAttribute('subject');
        console.log(username);
        var data = {};
        data.username = username;
        data.subject = subject;
        console.log(data);

       $.ajax({
              url: '/exception', 
              type: 'DELETE',
              contentType: 'application/json',
              data: JSON.stringify(data),                     
              success: function(data) {
                  alert('You have rejected the request');
                  location.reload(true);
               }
         });
    }
    </script>
  </body>